[*.cs]

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none
